<library path="lib/libmy_rviz_plugin">
  <class name="rviz_plugin_tutorials::AutoSubscriberDisplay"
  type="rviz_plugin_tutorials::AutoSubscriberDisplay"
  base_class_type="rviz::Display">
    <description> This is a custom display plugin that subscribes to a PointCloud2 topic automatically. </description>
    <qtgui>
      <label>AutoSubscriber Display</label>
      <group>
        <attribute name="Message Topic" type="string">
          <default>/points2</default>
        </attribute>
        <attribute name="Queue Size" type="int">
          <default>10</default>
        </attribute>
      </group>
    </qtgui>
  </class>
</library>

